@charset "utf-8";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 1px;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #f6f6f6;
  color: #320706;
}

h1 {
  margin-top: 5px;
  font-size: 1.8em;
  color: #4e3035;
}

p {
  letter-spacing: .5px
}

a {
  color: #2a82d4;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;

  h1, h2, h3, h4, h5, h6 {
    color: #000;
  }
}

header {
  background: #6cabe5;
  padding: 15px 0;

  .cover_art {
    float:left;
    padding-right: 20px;
  }

  a {
    color: #000;
    border-bottom: 1px solid #000;
  }
}

footer {
  background: #ab2e2a;
  color: #fff;
  padding: 25px;
  text-align: center;
}

section {
  margin: 20px auto;
  padding: 0 15px;
  max-width: 700px;
}

h1 {
  .as {
    color: #b3329a;
  }

  .podcast {
    color: #7043a5;
  }
}

.recent_episodes {
  padding: 15px 0;
}

.podcast, .episode, .recent_episodes {
}

.links {
  nav {
    text-align: center;
    list-style-position: outside;
    ul, ol {
      margin: 0;
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        a {
          margin: 0 0.8em;
        }
      }
    }
  }
}
